@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>HackerNest</h1>
    <p class="lead">
        HackerNest is an international nonprofit running unpretentious tech events, special cause-hackathons tackling global issues & challenges,
        and other projects in the name of improving humanity, technological advancement,
        and overall economic prosperity.
    </p>
    <p><a href="http://hackernest.com/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    &nbsp;
    <div>
    </div>

    <h2>FunderNest</h2>
    <p>
        Together, the FunderNest community lifts up the hands of help to those with Dementia.
        Your donation will count! Place your bid for an item by first creating an account!
        Every donation counts.
    </p>
</div>

